<h2>Productos</h2>
<div  *ngFor="let productito of ListaProductos; index as productId">

 <h3>
    <a [title]="productito.name + ' details'" [routerLink]="['/products', productId]">
      {{ productito.name }}
    </a>
  </h3>

  <p *ngIf="productito.description">
    Descripción: {{ productito.description }}
  </p>
  <button (click)="share()">
  Compartir
</button>

<app-product-alerts
  [product]="productito"
  (notify)="onNotify()">
</app-product-alerts>


</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->